.body-main{
    background: #f5f5f5bf;
    border-radius: 8px;
    padding: 20px 0;
    min-height: 500px;
    border: 1px solid black;
}

.product-section{
    background: #FFFFFF ;
    border-radius: 8px;
    min-height: 300px;

}