.progress-step-main{
    margin-top: 20px;
    display: flex;
    justify-content: start;
}
.progress-step-text{
    font-size: 14px;
    line-height: 16px;
}
.progress-step-text.shopping{
    font-weight: 600;
}
.progress-step-text.address{
    font-weight: bold;
}
.progress-step-text.payment{
    font-weight: lighter
}