.payment-section-headline{
    margin-top: 50px;
}
.payment-headline{
    color: #1E2228;
    font-size: 24px;
    font-weight: bold;
}
.payment-option-section{
        align-items: center;
}
.payment-option-headline{
    color: #1E2228;
    font-size: 16px;
    font-weight: bold;
}
