
.address-selection-headline{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.address-setect-text{
    font-size: 24px;
    font-weight: bold;
}
.add-new-address-text{
    cursor: pointer;
    font-size: 16px;
    color: #FF2C91;
}

.new-address-creation-section{
    margin-top: 50px;
}