.address-page-main-section{
    margin-top: 50px;
}

.checkout-left-side {
    margin-left: 200px;
}

.checkout-right-side {
    margin-left: 100px;
} 
.payment-opt-section{
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom:2 0px;
}